.wrapper {
    
    display:float;
}
div {
    text-align: center;
    display:float;
}
.Center{
    background-color: blue;
    width: 48%;
    display: inline-block;
    height:80%;
}
.Left{
    height:80%;
    background-color: blueviolet;
    display: inline-block;
    width: 25%;

}
.Right{
    background-color: green;
    display: inline-block;
    width: 25%;
    height:80%;
}
.footer{
    width: 100%;
    background-color: brown;
}
.Face{
    background-color: chartreuse;
    height: 60%;
}